/* :root {
	--clr-primary-100: #f6d1e3;
	--clr-primary-200: #ffbcdc;
	--clr-primary-300: #ff85a5;
	--clr-primary-500: #c34f72;
	--clr-primary-900: #c52b2b;
	--clr-neuteral-100: #fff6f2;
	--clr-neuteral-300: #696969;
	--clr-neuteral-900: #333;
	--ff-primary: 'Montserrat', sans-serif;
	--ff-accent: 'Lobster', cursive;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
img {
	margin: 0;
	
	font-family: var(--ff-primary);
	font-size: 1.5rem;
	line-height: 1.4;
	color: var(--clr-neuteral-900);
} */


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;

}
